<div class="submission-data">
	<ul>
		<h1>Python Submissions</h1>
		<li *ngFor="let record of python">
			<ul>
				<li (click)=timeline(record.Id,record.Name) [class.selected]="record.Name === selectedStudent">
					{{	record.Name }}
				</li>
				<li>{{ record.ExerciseName }}</li>
				<li>{{ record.Time  }}</li>
			</ul>
		</li>
	</ul>
	<ul>
		<h1>HTML/CSS Submissions</h1>
		<li *ngFor="let record of html">
			<ul>
				<li (click)=timeline(record.Id,record.Name) [class.selected]="record.Name === selectedStudent">
					{{	record.Name }}
				</li>
				<li>{{ record.ExerciseName }}</li>
				<li>{{ record.Time  }}</li>
			</ul>
		</li>
	</ul>
	<ul>
		<h1>JS Submissions</h1>
		<li *ngFor="let record of js">
			<ul>
				<li (click)=timeline(record.Id,record.Name) [class.selected]="record.Name === selectedStudent">
					{{	record.Name }}
				</li>
				<li>{{ record.ExerciseName }}</li>
				<li>{{ record.Time  }}</li>
			</ul>
		</li>
	</ul>
	<div *ngIf="studentSubmissions">
		<h1>{{selectedStudent}}</h1>
		<ul>
			<li *ngFor="let submission of studentSubmissions">
				<ul>
					<li>{{submission["ExerciseName"]}}</li>
					<li>{{submission["Submission Date & Time"] | date}} </li>
					<li>{{submission["Approval Status"] ? submission["Approval Status"] : "Pending"}}</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

